:root{
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --global-padding: 30px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
html{
    scroll-behavior: smooth;
}
body {

    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}
.title-text{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.subtitle-text{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
.description-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px var(--global-padding) 2% var(--global-padding);
    flex-wrap: wrap;
}
.menu__navbar{
    display: none;
}

.presentation{
    padding: 3% var(--global-padding);
    margin-bottom: 25px;
}
.presentation__title, .presentation__subtitle{
    margin-bottom: 10px;
}
.presentation__image{
    width: 30vw;
    height: 30vw;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    background-image: url("./assets/presentation-image.png");
    background-size: 130%;
    margin: 5px 0 15px 0;
}
.presentation__network{
    display: flex;
    justify-content: space-between;
}
.presentation__network__item a{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.aboutMe{
    background-color: #EAF2FD;
    padding: var(--global-padding);
}
.aboutMe__title{
    margin-bottom: 12px;
}

.skills, .hobbies{
    padding: var(--global-padding);
    text-align: center;
}
.skills__title, .hobbies__title{
    margin-bottom: 20px;
}
.skills__div, .hobbies__div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: initial;
}
.skills__skill, .hobbies__hobbie{
    width: 40vw;
    height: 30vw;
    max-width: 224px;
    max-height: 150px;
    margin: 10px 0;
    display: block;
    padding: 0 0 15px 10px;
    background-color: #FFFFFF;
}
.skills__skill__image, .hobbies__hobbie__image{
    height: 90%;
}

.education{
    background-color: #EAF2FD;
}
.education, .experience{
    display: flex;
    padding: 5px var(--global-padding);
    flex-wrap: wrap;
    justify-content: center;
}
.education__title, .experience__title{
    margin: 10px 0;
    width: 100%;
    text-align: center;
}
.education__div, .experience__div{
    padding: 15px;
    line-height: 25px;
    width: 88%;
}
.education__image{
    height: 30vw;
    background-color: #FFFFFF;
}

.experience__div__button{
    width: 35%;
    height: 40px;
    margin: 10px 4px;
}
.experience__div__button a{
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #2A7AE4;
    justify-content: center;
    align-items: center;
}
.experience__div__button:nth-child(1) a{
    color: #2A7AE4;
}
.experience__div__button:nth-child(2) a{
    color: #FFFFFF;
    background-color: #2A7AE4;
}

.contact{
    background-color: #EAF2FD;
    padding: var(--global-padding);
}
.contact__title{
    margin-bottom: 10px;
}
.contact__description{
    font-weight: 500;
    line-height: 19px;
}
.contact__form{
    margin-top: 10px;
}
.contact__form__container{
    display: block;
    width: 100%;
    height: 56px;
    margin: 17px 0;
    border-bottom: 1px solid #C8C8C8;
    border-radius: 4px;
    position: relative;
    background-color: #FFFFFF;
    overflow: hidden;
}
.contact__input{
    outline: none;
    width: 100%;
    padding: 0 12px;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    background: transparent;
    border-bottom: 2px solid #2A7AE4;
    border-radius: 4px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.contact__input:focus, .contact__input:valid, .semi-valid{
    height: 70%; 
    transform: translateX(0%);
    transition: transform 0.3s ease;
}
.contact__form__label{
    color: #A2A2A2;
    position: absolute;
    padding: 0 12px;
    top: 36%;
    font-size: 16px;
    transition: top 0.3s, font-size 0.3s;
}
.contact__form__container:focus-within .contact__form__label , .contact__input:valid + span, .semi-valid + span{
    top: 9px;
    left: 0;
    font-size: 12px;
    transition: top 0.3s, font-size 0.3s;
}
.contact__form__container:focus-within .contact__form__label{
    color: #2A7AE4;
}
.contact__form__container:nth-child(4){
    height: 130px;
}
.contact__form__container:nth-child(4) textarea{
    resize: none;
    padding: 15px 12px;
    min-height: 86%;
}
.contact__btn{
    width: 133px;
    height: 40px;
    background-color: #2A7AE4;
    color: #FFFFFF;
}

footer{
    padding: 50px 20px;
    text-align: center;
}

@media (min-width: 768px) {

    .education__div{
        width: 33%;
    }
    .menu__email{
        font-weight: 700;
        font-size: 18px;
    }
    
}

@media (min-width: 1160px) {

    :root{
        --global-padding: 100px;
     }
     .title-text{
        font-weight: 700;
        font-size: 50px;
        line-height: 56px;
    }
    .subtitle-text{
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
    }
    .description-text{
        font-size: 22px;
        line-height: 36px;
    }

    .menu__navbar{
        display: inline-block;
        flex-grow: 1;
    }
    .menu__navbar ul{
        display: flex;
        justify-content: end;
    }
    .menu__navbar__item{
        padding: 0 29px;
    }

    .presentation{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .presentation__div{
        width: 65%;
    }
    .presentation__image{
        max-width: 360px;
        max-height: 360px;
    }
    .presentation__network__item a{
        font-size: 18px;
    }

    .skills__skill__subtitle, .hobbies__hobbie__subtitle{
        line-height: 10px;
    }

    .education__title, .experience__title {
        margin: 40px 0;
    }

    .experience__div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 325px;
    }
    .experience__div:nth-child(2n + 1){
        flex-direction: row-reverse;
    }
    .experience__information{
        width: 30%;
    }
    .experience__div__button{
        width: 45%;
    }
}